<footer class="text-small text-white bg-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 py-4">
                <div class="my-1 d-flex justify-content-center">
                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-2x"> </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row border-top border-light p-3">
            <div class="col text-center">
                © 2020 Copyright:
                <a> soontobe.com</a>
            </div>

        </div>
    </div>
</footer>