<nav class="navbar navbar-expand-sm navbar-light bg-white mt-3">
    <a class="navbar-brand ml-3" href="/">
        <img src="/media/weather-radar-icon-68.png" width="80" class="d-inline-block align-middle mr-3" alt="">
        <span class="h3 logo-title">Weather App</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-flex justify-content-end mr-3" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/">Weather</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/help">Help Center</a>
            </li>

        </ul>
    </div>
</nav>